*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(images/galaxy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 1%;
  position: relative;
 display: grid;
  place-items: center;
  
 
 
}
.container {
  background-image: url('images/road.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
  position: relative; 
  height: 750px;
  width: 650px;
  text-align: center;
  overflow: hidden;
  cursor: none;
  overflow: hidden;
  
   
}

.img-container-out-later{
  font-size: 12px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  color: white;
  top: 40px;
  height: 490px;
  width: 640px;
  display: flow-root;
}
.img-container-out-later img{
  display: inline-block;
  position: absolute;
  padding: 15px 15px;
  margin-top: -20px;
  position: absolute; 
  pointer-events: none;
  transition: transform 0.1s linear;
}
.img-container-out-later p{
  display: inline-block;
  position: absolute;
  bottom: 120px;
  color: rgb(238, 224, 224);
  background-color:none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color:white;
  margin-bottom: 5px;
}

.combine {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 120px; 
    text-align: center;
    pointer-events: none; 
    transition: none; 
}


#myimg, .custom-cursor, #runner {
    pointer-events: none !important;
    position: absolute;
    will-change: left, top;
}
.inner-later{
  height: 320px;
  width: 380px;
  margin-top: 15%;
  margin-left: 20%;
  display: block;
  border-radius: 50%;
  justify-items: center;
  display: block;
  position: sticky;
}
.img-container-out-later img:hover{
  background-color:rgb(244, 148, 148);
  border-radius: 50%;
  padding: 20px 25px;
  
}
#hand{
  mix-blend-mode: screen;
  color: white;
  z-index:1;
  
}
.custom-cursor {
  width: 60px;
  height: 60px;
  background-image: url('images/hand08.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode:screen;
  
  position: fixed;
  pointer-events: none;
  z-index: 9999;
 
  
  
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
  transition: transform 0.1s ease-out; 
  transform: translate(-50%, -50%); 
}